#top {
    width: 100%;
    height: 20px;
    float:top;
    font: 20px Arial, Helvetica, sans-serif;
    color: #524f4f;
}

h1 {
    width: 100%;
    height: 20px;
    float:top;
    font: 20px Arial, Helvetica, sans-serif;
    color: #524f4f;
}

h2 {
    width: 100%;
    height: 20px;
    float:top;
    font: 15px Arial, Helvetica, sans-serif;
    color: #363434;
}

#description {
    width: 100%;
    height: 45px;
    padding: 0px 25px;
    margin: 10px;
    float:top;
    text-align: center;
    font: 13px Arial, Helvetica, sans-serif;
    color: #696666;
}

p {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    float:top;
    text-align: center;
    font: 13px Arial, Helvetica, sans-serif;
    color: #696666;
}

#map {
    width: 55%;
    height: 550px;
    float:left;
}

#chartDiv {
    width: 45%;
    height: 500px;
    float:right;
}

#titlechart{
    font: 14px/16px Arial, Helvetica, sans-serif;
    text-align: left;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 30em;
    margin: 6px;
}
    
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 10em;
}

.info h4 {
    margin: 0 0 5px;
    color: #777777;
}

.info #currentTown {
    margin: 6px 0;
}

.popup {
    text-align: center;
}

.legend {
    padding: 6px 8px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

 /* //set legend symbols (<div> elements) */
.legend div {
    width: 18px;
    height: 18px;
    float: left; /*//ensures symbols and text descriptionsare placed together on the same line*/
    margin-right: 8px;
    opacity: 0.7;
}

/* makes sure the legend items are correctly aligned regardless of browser zoom level*/
div.legend.leaflet-control br {
        clear: both;
}
